/*

Custom App CSS

to use CSS instead of SCSS:

 1) Add any number of .css files in this folder, or just use this one
 2) In gulpfile.js, set CFG.CSS.SASS to false
 3) Files in this folder ending with .scss ignored
 4) Files in this folder ending with .css will be compiled and minified to project/modules/app.min.css

*/

#ui-bar {

  background-color: #1a1a1d;
}
.low {
    text-transform: lowercase; 
}
.tra { text-transform: capitalize; }

#passages {
  margin-left: 3px
}
.passage {
	/* an "ex" is supposedly the width of an 'x' character.
	 * A lot of characters are narrower, so you get more. */
	max-width: 80ex;
	/* Set the side margins to "auto" to center the block. */
	margin-left: 3px;
}

body
{
    background: rgb(32,33,36);
    color: #bdc1c6;
    font-family: Tahoma, sans-serif;
    font-size: large;
}
.voiceA {
  color: #88888a;
}
.voiceB {
  color: #BDBEAF;
}
a {
  color: #8ab4f8;
  }
a:hover {
  color: #BDBEAF;
  text-decoration: underline;
  }
a:visited {
      color: #8ab4f8;
}